<%- include("../shared/_header") %>

<div class="container mt-5" style="background-color: #ffd700; padding: 20px; border-radius: 10px;">
    <h1 style="color: #4CAF50;">
        <%= formType === "create" ? "Create New Card" : "Update Card" %>
    </h1>

    <hr class="my-5" style="border-color: #4CAF50;">

    <%- include("./_form") %>

    <a href="/cards" style="color: #ff6347;">Back to cards</a>
</div>

<%- include("../shared/_footer") %>
