<%- include("../shared/_header") %>

<div class="container mt-5" style="background-color: #ffe5b4; padding: 20px;">
    <h1 style="color: #ff7f50;">
        Create New User
    </h1>

    <hr class="my-5" style="border-color: #ff7f50;">

    <%- include("./_form") %>

    <a href="/users" style="color: #ff7f50; text-decoration: none; font-weight: bold;">Back to users</a>
</div>

<%- include("../shared/_footer") %>
