<%- include("../shared/_header"); %>

<div class="container mt-5" style="background-color: #c3ee18; padding: 20px;">
    <h1 style="color: #003cff; text-align: center; font-family: Arial, sans-serif;">Content Management System</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <p style="font-size: 18px; text-align: justify;">Welcome to our Content Management System. This platform allows you to efficiently manage your content, whether it's articles, images, videos, or any other type of media. With powerful tools and intuitive interfaces, you can easily create, edit, and organize your content to engage your audience effectively.</p>
        </div>
    </div>
    <hr class="my-5" style="border-color: #ff0051;">
</div>

<%- include("../shared/_footer"); %>
